{%- for alert in alerts -%}
[{{ alert['status'] }}] {{ alert['labels']['alertname'] -}} 
{%- for key, value in alert['uniqueLabels'].items() %}
{{- " " + key }}={{value}}
{%- endfor %}:
{%- for key, value in alert['values'].items() %}
{{- "\n" + key }} = {{ value }}
{%- endfor -%}
{{- "\n" if not loop.last }}
{{- " Value: [no value]" if not alert['values'] }}
{%- endfor %}
