{%- if alerts | length %}{% for alert in alerts -%}
<b><a href="{{ alert['generatorURL'] }}">[{{ alert['status'] }}] {{ alert['labels']['alertname'] }}</a></b>
{%- for key, value in alert['uniqueLabels'].items() -%}
{%- if key != 'alertname' %}
{{- " " + key }}={{ value }} {{ "," if not loop.last }}
{%- endif %}
{%- endfor -%}
&#32;(<a href="{{ alert['silenceURL'] }}">Silence</a>)<br>
{%- if alert['values'] %}
{%- for key, value in alert['values'].items() -%}
<b>{{ key }}:</b> {{ value }}<br>
{%- endfor %}
{%- else -%}
<b>Value:</b> [no value]<br>
{%- endif %}
{%- endfor %}{% endif %}
