<b>{{ status | upper }}:{{ noFiring }} ({{ commonLabels.values() | join(" ") }})</b>
<p><a href="{{ externalUrl }}?orgId={{ orgId }}">Grafana Instance</a></p>
{% if alerts | length %}{% for alert in alerts %}
<p><b>{{ alert.labels.alertname }}</b> (Status: {{ alert.status }}):
    <a href="{{ alert.generatorURL }}">View</a>, <a href="{{ alert.silenceURL }}">Silence</a>
</p>

{% if alert.valuesForJinja %}
<b>Values</b>
<table>
    {% for key, value in alert.valuesForJinja.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if alert.labels %}
<b>Labels</b>
<table>
    {% for key, value in alert.labels.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<p><i>(StartsAt: {{alert.startsAtParsed }}{% if alert.endsAtParsed %}, EndsAt: {{alert.endsAtParsed }}{% endif %})</i>
</p>
<br>
{% endfor %}{% endif %}