{% for alert in alerts -%}
<p><b><a href="{{ alert['generatorURL'] }}">[{{ alert['status'] }}] {{ alert['labels']['alertname'] }}</a></b> (<a href="{{ alert['silenceURL'] }}">Silence</a>):
{%- if alert['imageURL'] -%}
, <a href="{{ alert['imageURL'] }}">Image</a>
{%- endif -%}

<br>
{%- for key, value in alert['values'].items() -%}
{{- "<br>" if not loop.first }}
<b>{{ key }}:</b> {{ value }}
{%- endfor -%}

<i>

{%- if alert['uniqueLabels'] -%}
<br>Labels:
{{- "<br>" if (alert['uniqueLabels'] | length) > 1 else "&#32;" }}
{%- for key, value in alert['uniqueLabels'].items() %}
{{- "<br>" if not loop.first }}
{{- "&emsp;" if (alert['uniqueLabels'] | length) > 1 }}
{{ key }} = {{ value }}<br>
{%- endfor %}{% endif %}

{%- if alert['uniqueAnnotations'] -%}
<br>Annotations:
{{- "<br>" if (alert['uniqueAnnotations'] | length) > 1 else "&#32;" }}
{%- for key, value in alert['uniqueAnnotations'].items() %}
{{- "<br>" if not loop.first }}
{{- "&emsp;" if (alert['uniqueAnnotations'] | length) > 1 }}
{{- key }} = {{ value }}<br>
{%- endfor %}{% endif %}

{%- if not commonStartsAtParsed %}
<i>(StartsAt: {{alert['startsAtParsed'] }}{% if alert['endsAtParsed'] %}, EndsAt: {{alert['endsAtParsed'] }}{% endif %})</i><br>
{% endif -%}

</i></p>{% endfor %}

<p><b>Metadata:</b><br>
<b>Grafana Folder:</b> {{ commonLabels['grafana_folder'] }}<br>
{%- if summary -%}
<b>Summary:</b> {{ summary }}<br>{% endif %}

{%- if description -%}
<b>Description:</b> {{ description }}<br>{% endif %}

{%- if groupLabels -%}
<b>Grouped By:</b>
{{- "<br>" if (groupLabels | length) > 1 else "&#32;" }}
{%- for key, value in groupLabels.items() %}
{{- "&emsp;" if (groupLabels | length) > 1 }}
{{- key }} = {{ value }}<br>
{%- endfor %}{% endif %}

{%- if normalLabels -%}
<b>Common Labels:</b>
{{- "<br>" if (normalLabels | length) > 1 else "&#32;" }}
{%- for key, value in normalLabels.items() %}
{{- "&emsp;" if (normalLabels | length) > 1 }}
{{- key }} = {{ value }}<br>
{%- endfor %}{% endif %}

{%- if normalAnnotations -%}
<b>Common Annotations:</b>
{{- "<br>" if (normalAnnotations | length) > 1 else "&#32;" }}
{%- for key, value in normalAnnotations.items() %}
{{- "&emsp;" if (normalAnnotations | length) > 1 }}
{{- key }} = {{ value }}<br>
{%- endfor %}{% endif %}

{%- if commonStartsAtParsed -%}
<b>Starts At:</b> {{ commonStartsAtParsed }}
{%- endif -%}
{%- if commonEndsAtParsed -%}
<br><b>Ends At:</b> {{ commonEndsAtParsed }}
{%- endif -%}
</p>



{%- if truncatedAlerts %}
<p><b>Truncated Alerts:</b> {{ truncatedAlerts }}</p>
{% endif %}
