{%- for alert in alerts -%}
[{{ alert['status'] }}] {{ alert['labels']['alertname'] -}} 
{%- for key, value in alert['uniqueLabels'].items() %}
{{- " " + key }}={{value}}
{%- endfor %}:
{%- for key, value in alert['values'].items() %}
{{- "," if not loop.first }}
{{- " " + key }} = {{ value }}
{%- endfor -%}
{{- " [no values]" if not alert['values'] }}
{{- "\n" if not loop.last }}
{%- endfor %}
